.addUser {
    float: left;
}
.cancel{
    float: right;
}
.myForm{
    margin-left: 45%;
}
input.ng-touched.ng-invalid {
    border: 1px red solid;
}
.passError.ng-touched {
    border: 1px red solid;
}