<form class="mb-2 pb-2" *ngIf="project" [formGroup]="webserviceForm">
  <!-- URL -->
  <div class="form-group row px-3">
    <label for="node-url" class="col-3 col-form-label">URL</label>
    <div class="col-9">
      <input id="node-url" class="form-control col-form-label" type="text"
             formControlName="url">
    </div>
  </div>
  <!-- Request Method -->
  <div class="form-group row px-3">
    <label class="col-3 col-form-label">Request Method</label>
    <div class="form-group col-9">
      <div class="form-check" *ngFor="let method of methods; let i=index">
        <input class="form-check-input" type="radio" name="req-method"
               [checked]="checked[i]" [value]="method" (change)="methodChange($event)">
        {{method}}
      </div>
    </div>
  </div>
  <!-- Parameters -->
  <div>
    <div class="form-group row" *ngFor="let _ of param_keys.controls; let i=index">
      <label class="col-3">Parameter #{{ i+1 }} </label>
      <div class="col-9">
        <div class="row">
          <div class="col-6" formArrayName="param_keys">
            <input title="param#{{ i }}" class="form-control" type="text" readonly
                   [formControlName]="i">
          </div>
          <div class="col-5" formArrayName="param_vals">
            <input title="param-vals" class="form-control" type="text" [formControlName]="i">
          </div>
          <div class="col-1">
            <button class="btn btn-outline-danger" (click)="removeParameter(i)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-3" *ngIf="param_vals.length > 0">
      <button class="float-right btn btn-primary" (click)="testService()">Run Webservice</button>
    </div>
  </div>
</form>

<hr>

<!-- Add Parameter Input -->
<form *ngIf="node" class="form-group row px-3" [formGroup]="paramGroup">

  <label class="col-3">Add Parameter</label>
  <div class="col-5">
    <input class="form-control" title="parameter" #param>
  </div>
  <div class="col=4">
    <button class="btn btn-outline-primary" type="submit"
            (click)="addParameter(param.value); param.value=''; ">Add
    </button>
  </div>
</form>
