<div class="card text-center mb-5">
  <div class="card-header card-inverse card-success">
    Featured X
  </div>
  <div class="card-block">
    <h4 class="card-title">Suspendisse condimentum</h4>
    <p class="card-text">
      Nam vitae ex risus. Suspendisse laoreet urna dolor, sit amet scelerisque
      nulla imperdiet quis. Donec eu neque lectus. Pellentesque faucibus
      accumsan elit. Mauris vulputate mi id metus suscipit, sodales feugiat eros
      dignissim. Suspendisse eleifend sit amet dolor in feugiat. Ut vitae augue
      dignissim mauris rhoncus consequat id quis ipsum. Morbi et turpis id elit
      tincidunt blandit id in lorem. Morbi ultricies, nunc quis tempor posuere,
      urna sem ornare purus, nec egestas dolor massa a nulla. Quisque venenatis
      egestas purus, vel tempus nibh ullamcorper ac. Proin eu aliquam ligula, ut
      rhoncus nisi. Mauris leo metus, placerat quis fermentum non, varius in
      velit. Proin non aliquam orci. Suspendisse arcu lacus, dictum nec
      sollicitudin rhoncus, consectetur eget mi. Fusce rhoncus mi eget sapien
      dictum, id cursus orci euismod.
    </p>
    <a routerLink="../instructions"
       class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer">
    2 days ago
  </div>
</div>


<div class="card text-center mb-5">
  <div class="card-header card-inverse card-info">
    Featured Y
  </div>
  <div class="card-block">
    <h4 class="card-title">Etiam consectetur</h4>
    <p class="card-text">
      Sed lectus justo, vestibulum in purus non, luctus porttitor quam. Maecenas
      nec mauris efficitur, imperdiet nunc eu, convallis urna. Nullam quis
      volutpat erat. Suspendisse tincidunt in est vitae pharetra
    </p>
    <a routerLink="../instructions"
       class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer">
    12 days ago
  </div>
</div>


<div class="card text-center mb-5">
  <div class="card-header card-inverse card-warning">
    Featured Z
  </div>
  <div class="card-block">
    <h4 class="card-title">Lorem ipsum</h4>
    <p class="card-text">
      Cras porta rutrum gravida. Sed quis magna a massa auctor pretium. Duis
      mattis ex ut diam lobortis maximus. Cras in nisi vel eros laoreet
      suscipit. Nam ut nibh id lectus lobortis tincidunt vitae quis nibh.
      Aliquam molestie eu nisi eu porttitor. Nunc ultricies mattis feugiat.
      Praesent id elit eu libero consequat consectetur nec sed risus.
    </p>
    <a routerLink="../instructions"
       class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    23 days ago
  </div>
</div>
