<form class="mb-2 pb-2" *ngIf="project" [formGroup]="projectForm">
  <!-- ID -->
  <div class="form-group row px-3">
    <label for="node-id" class="col-3 col-form-label">ID</label>
    <div class="col-9">
      <input id="node-id" class="form-control" type="text"
             formControlName="id" readonly>
    </div>
  </div>
  <!-- TYPE -->
  <div class="form-group row px-3">
    <label for="node-type" class="col-3 col-form-label">Type</label>
    <div class="col-9">
      <input id="node-type" class="form-control col-form-label" type="text"
             value="{{ (node != null) ? 'NODE' : 'PROJECT' }}" readonly>
    </div>
  </div>
  <!-- Title -->
  <div class="form-group row px-3">
    <label for="node-title" class="col-3 col-form-label">Title</label>
    <div class="col-9">
      <input id="node-title" class="form-control" type="text"
             formControlName="title">
    </div>
  </div>
  <!-- Description -->
  <div class="form-group row px-3">
    <label for="node-description" class="col-3 col-form-label">Description</label>
    <div class="col-9">
    <textarea id="node-description" class="form-control" rows="8"
              formControlName="description"></textarea>
    </div>
  </div>
</form>

<hr>
