<ng-template #addGraphModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Adding Data Point</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please choose a node to display data from:</p>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th class="text-center">Node</th>
        <th class="text-center">Color</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let node of nodes; let i = index">
        <td class="text-center">{{ node.title }}</td>
        <td class="text-center">{{ colors[i] }}</td>
        <td class="text-center">
          <button class="btn btn-outline-info" (click)="addGraph(i)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-danger" (click)="removeGraph(i)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<!-- real-time monitor window modal -->
<div class="container">
  <div class="modal-header"
       id="my-title">
    <h4 class="modal-title">"Real-Time Performance Monitor"</h4>
  </div>
  <div class="modal-body text-center" style="height:500px">
    <div class="lineChart" style="height:480px">
      <canvas #canvas></canvas>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" style="float:left;">
      <button type="button"
              class="btn btn-info"
              (click)="openGraphModal(addGraphModal)"><i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <div ngbDropdown placement="top-right" class="d-inline-block" style="width:140px !important">
      <button class="btn btn-outline-primary btn-block" id="dropdownInterval" ngbDropdownToggle>{{ intervalText }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownInterval">
        <button class="dropdown-item"
                *ngFor="let interval of intervals; let i = index"
                (click)="selectedInterval(i)">
          {{ interval.text }}
        </button>
      </div>
    </div>
    <div class="btn-group" style="float:none;">
      <button type="button"
              class="btn btn-success"
              (click)="startMonitor()">Start
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="stopMonitor()">Stop
      </button>
      <button type="button"
              class="btn btn-secondary"
              (click)="onClose('close')">Close
      </button>
    </div>
  </div>
</div>
