<div class="container row mx-3">
  <!--col-2-->
  <div class="col-3 text-center">
    <button class="btn btn-success mb-3" type="button" (click)="createNewProject()">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i> Create New Project
    </button>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let node of nodes"
          [routerLink]="['detail', node.id]" routerLinkActive="active">
        {{ node.title }}
      </li>
    </ul>
  </div>
  <!--col-10-->
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>

</div>
