<ng-template #compositeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Composite Node</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please choose a project to link to:&hellip;</p>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Title</th>
        <th class="text-center">Parameters</th>
        <th class="text-center">Link</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of comp_projects">
        <td class="text-center">{{ project.id }}</td>
        <td class="text-center">{{ project.title }}</td>
        <td class="text-center">{{ project.parameters }}</td>
        <td class="text-center">
          <button class="btn btn-outline-info" (click)="compositeLink(project.id)">
            <i class="fa fa-link" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<!-- Radio: switch from editor to graph view -->
<div class="my-center text-center">
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input"
             type="radio"
             name="radio-options"
             [(ngModel)]="radioOptions"
             id="editor-view-radio"
             value="editor">
      Editor View
    </label>
  </div>

  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input"
             type="radio"
             name="radio-options"
             [(ngModel)]="radioOptions"
             id="radial-tree-radio"
             value="tree">
      Radial Tree
    </label>
  </div>

  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input"
             type="radio"
             name="radio-options"
             [(ngModel)]="radioOptions"
             value="clickable-tree">
      Radial Tree
    </label>
  </div>
</div>

<!-- Editor View -->
<div [hidden]="radioOptions !== 'editor'">
  <!-- Navigate through composition levels -->
  <app-breadcrumb [controller]="this"></app-breadcrumb>

  <!-- The Visual Graph -->
  <div id="d3-editor"
       (click)="closeContextMenu()"
       (mouseup)="detectRightMouseClick($event); detectShiftLMouseUp($event);"
       oncontextmenu="return false">
  </div>
</div>

<!-- Tree View -->
<div *ngIf="radioOptions === 'tree'">
  <app-visual *ngIf="node"
              [node]="nodeClone">
  </app-visual>
</div>

<div *ngIf="radioOptions === 'clickable-tree'">
  <app-collapsible-tree [node]="nodeClone"></app-collapsible-tree>
</div>
<!---------------------------------------------------->
<!------------------ Modals -------------------------->
<!---------------------------------------------------->

<!-- Performance chart -->
<ng-template #chartModal
          let-c="close"
          let-d="dismiss"
          size="lg">
  <div class="modal-header"
       id="my-title">
    <h4 class="modal-title">{{ 'Performance of ' + this.chartTitle }}</h4>
  </div>
  <div class="modal-body text-center">
    <app-bar-chart [project]="this.currentProject" [node]="this.selectedNode"></app-bar-chart>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary btn-block"
            (click)="c('Close click')">Close
    </button>
  </div>
</ng-template>

<!-- No composition nodes warning modal -->
<ng-template #emptyCompositionModal
          let-c="close"
          let-d="dismiss">

  <div class="modal-header text-center">
    <h4>Warning</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">
    <p> There are no composition nodes here. </p>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            (click)="c('Close click')">Close
    </button>
  </div>
</ng-template>


<!-- view selected node in json -->
<ng-template #debugModal
          let-c="close"
          let-d="dismiss">

  <div class="modal-body text-center">
    <pre>{{selectedNode.neighbors.length | json}}</pre>
    <pre>{{selectedNode.neighbors | json}}</pre>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            (click)="c('Close click')">Close
    </button>
  </div>
</ng-template>

<!------------------------------------------------------>
<!-------------------- CONTEXT MENU -------------------->
<!------------------------------------------------------>
<div class="rightClickPanel noselect card"
     [ngStyle]="rightPanelStyle"
     oncontextmenu="return false">

  <!-- RUN ALL WS -->
  <a class="dropdown-item"
     *ngIf="!selectedNode && !graph.state.selectedEdge"
     (click)="runCurrentProject()">
    <i class="fa fa-play-circle-o"
       aria-hidden="true"></i>&nbsp;Run All</a>

  <!-- RUN WS -->
  <a class="dropdown-item"
     *ngIf="selectedNode && !graph.state.selectedEdge"
     (click)="runNode(selectedNode)">
    <i class="fa fa-play-circle"
       aria-hidden="true"></i>&nbsp;Run</a>

  <!-- INSERT -->
  <a class="dropdown-item"
     *ngIf="!selectedNode && !graph.state.selectedEdge"
     (click)="insertNode()">
    <i class="fa fa-plus-circle"
       aria-hidden="true"></i>&nbsp;Insert</a>
  <!-- EDIT-->
  <a class="dropdown-item"
     *ngIf="selectedNode && !graph.state.selectedEdge"
     (click)="edit()">
    <i class="fa fa-pencil"
       aria-hidden="true"></i>&nbsp;Edit</a>
  <!-- DELETE-->
  <a class="dropdown-item"
     *ngIf="selectedNode || graph.state.selectedEdge"
     (click)="removeSelected()">
    <i class="fa fa-trash"
       aria-hidden="true"></i>&nbsp;Delete</a>
  <!-- COMPOSITE -->
  <a class="dropdown-item"
     *ngIf="!selectedNode && !graph.state.selectedEdge"
     (click)="compositeCreate(compositeModal)">
    <i class="fa fa-plus-square-o"
       aria-hidden="true"></i>&nbsp;Composite</a>
  <!-- Make -->
  <a class="dropdown-item"
     *ngIf="selectedNode && !graph.state.selectedNode.composite_id && !graph.state.selectedEdge"
     (click)="compositeMake(compositeModal)">
    <i class="fa fa-plus-square-o"
       aria-hidden="true"></i>&nbsp;Make Composite</a>
  <!-- View -->
  <a class="dropdown-item"
     *ngIf="selectedNode && graph.state.selectedNode.composite_id && !graph.state.selectedEdge"
     (click)="compositeView(graph.state.selectedNode.composite_id)">
    <i class="fa fa-sitemap"
       aria-hidden="true"></i>&nbsp;Composition</a>
  <!-- Performance -->
  <a class="dropdown-item"
     *ngIf="!graph.state.selectedEdge"
     (click)="viewPerformance(chartModal)">
    <i class="fa fa-bar-chart"
       aria-hidden="true"></i>Performance</a>
  <!--&lt;!&ndash; DEBUG &ndash;&gt;-->
  <!--<a class="dropdown-item"-->
  <!--(click)="debugNode(debugModal)">-->
  <!--<i class="fa fa-bug"-->
  <!--aria-hidden="true"></i>&nbsp;Debug(edges)</a>-->

</div>
