<!-- Radio: switch from editor to graph view -->
<div class="my-center text-center">
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input"
             type="radio"
             name="radio-options"
             [(ngModel)]="radioOptions"
             id="editor-view-radio"
             value="editor">
      Editor View
    </label>
  </div>

  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input"
             type="radio"
             name="radio-options"
             [(ngModel)]="radioOptions"
             id="radial-tree-radio"
             value="tree">
      Radial Tree
    </label>
  </div>

  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input"
             type="radio"
             name="radio-options"
             [(ngModel)]="radioOptions"
             value="clickable-tree">
      Radial Tree
    </label>
  </div>
</div>

<!-- Editor View -->
<div [hidden]="radioOptions !== 'editor'">
  <!-- Navigate through composition levels -->
  <app-breadcrumb [views]="views"></app-breadcrumb>

  <!-- The Visual Graph -->
  <div id="d3-editor"
       (click)="closeContextMenu()"
       (mouseup)="detectRightMouseClick($event); detectShiftLMouseUp($event);"
       oncontextmenu="return false">
  </div>
</div>

<!-- Tree View -->
<div *ngIf="radioOptions === 'tree'">
  <app-visual *ngIf="node"
              [node]="nodeClone">
  </app-visual>
</div>

<div *ngIf="radioOptions === 'clickable-tree'">
  <app-collapsible-tree [node]="nodeClone"></app-collapsible-tree>
</div>
<!---------------------------------------------------->
<!------------------ Modals -------------------------->
<!---------------------------------------------------->

<!-- Quick Edit Modal -->
<template #content
          let-close="close"
          let-dismiss="dismiss">

  <app-quick-edit [node]="graph.state.selectedNode"
                  [closeFunction]="close"></app-quick-edit>
  <div class="modal-footer">
  </div>
</template>

<!-- No composition nodes warning modal -->
<template #emptyCompositionModal
          let-c="close"
          let-d="dismiss">

  <div class="modal-header text-center">
    <h4>Warning</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-center">
    <p> There are no composition nodes here. </p>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            (click)="c('Close click')">Close</button>
  </div>
</template>


<!-- view selected node in json -->
<template #debugModal
          let-c="close"
          let-d="dismiss">

  <div class="modal-body text-center">
    <pre>{{selectedNode.neighbors.length | json}}</pre>
    <pre>{{selectedNode.neighbors | json}}</pre>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary"
            (click)="c('Close click')">Close</button>
  </div>
</template>

<!------------------------------------------------------>
<!-------------------- CONTEXT MENU -------------------->
<!------------------------------------------------------>
<div class="rightClickPanel noselect"
     [ngStyle]="rightPanelStyle"
     oncontextmenu="return false">

  <div class="dropdown show">
    <div class="dropdown-menu">
      <!-- INSERT -->
      <a class="dropdown-item"
         (click)="insertNode()">
        <i class="fa fa-plus-circle"
           aria-hidden="true"></i>
        Insert
      </a>
      <!-- DELETE-->
      <a class="dropdown-item"
         (click)="removeSelected()">
        <i class="fa fa-trash"
           aria-hidden="true"></i>
        Delete
      </a>
      <!-- EDIT-->
      <a class="dropdown-item"
         (click)="edit(content)">
        <i class="fa fa-pencil"
           aria-hidden="true"></i>
        Edit</a>
      <!-- SWAP -->
      <a class="dropdown-item"
         (click)="swapNode()">
        <i class="fa fa-exchange"
           aria-hidden="true"></i>
        Swap
      </a>
      <!-- IMPORT -->
      <a class="dropdown-item"
         (click)="importNode()">
        <i class="fa fa-upload"
           aria-hidden="true"></i>
        Import
      </a>
      <!-- COMPOSITE -->
      <a class="dropdown-item"
         (click)="compositeClickNodes()">
        <i class="fa fa-plus-square-o"
           aria-hidden="true"></i>
        Composite</a>
      <!-- View -->
      <a class="dropdown-item"
         (click)="viewComposition(emptyCompositionModal)">
        <i class="fa fa-info-circle"
           aria-hidden="true"></i>
        View Composition
      </a>
      <!-- RETURN TO PARENT -->
      <a class="dropdown-item"
         (click)="returnToParent()">
        <i class="fa fa-step-backward"
           aria-hidden="true"></i>
        Return to Parent</a>
      <!-- DEBUG -->
      <a class="dropdown-item"
         (click)="debugNode(debugModal)">
        <i class="fa fa-bug"
           aria-hidden="true"></i>
        Debug(edges)
      </a>
    </div>
  </div>
</div>
