<pre *ngIf="selectedNode">{{selectedNode.title}}, {{selectedNode.id}}</pre>
<div id="d3-editor"
     (click)="closeContextMenu(); updateSelected()"
     (mouseup)="detectRightMouseClick($event)"
     oncontextmenu="return false">
</div>

<!------------------ HIDDEN CONTENT ------------------>

<template #content
          let-c="close"
          let-d="dismiss">

  <app-quick-edit [node]="graph.state.selectedNode"></app-quick-edit>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-secondary btn-block"
            (click)="c('Close click')">Close</button>
  </div>
</template>

<hr>
<div class="rightClickPanel"
     [ngStyle]="rightPanelStyle">

  <div class="dropdown show">
    <div class="dropdown-menu">
      <a class="dropdown-item"
         (click)="insert($event)">Insert</a>
      <a class="dropdown-item"
         (click)="remove()">Delete</a>
      <a class="dropdown-item"
         (click)="edit(content)">Edit</a>
      <a class="dropdown-item disabled">Composition</a>
    </div>
  </div>

</div>
<pre>{{closeResult}}</pre>
