/* Provide a little space between plus icon and text */
i {
    margin-right: .5em;
}

/* Add space between the "ADD" button and the list of of projects */
button {
   margin-bottom: 2em;
}

.float-right {
    float: right;
}