<div class="list-group">

  <!-- Add project from link -->
  <button class="btn btn-lg btn-outline-success"
          routerLink="form">
    <!-- Plus Sign Icon-->
    <i class="fa fa-plus-circle"
       aria-hidden="true"></i>ADD</button>
  <hr>

  <!-- List all the projects -->
  <a *ngFor="let web of webservices;"
     class="list-group-item list-group-item-action"
     [routerLink]="['quick', web.id]"
     routerLinkActive="active">{{web.title}}
    <span class="badge badge-default ml-3">{{web.compositions}}</span>
  </a>

</div>