<div class="modal-body">
  {{ inputNodes.length }}
  <ngb-tabset>
    <!-- Profile Tab-->
    <ngb-tab id="tab-0" title="Composition">
      <ng-template ngbTabContent>
        <div class="p-3">
          <app-composition-form [node]="node"></app-composition-form>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- Service Tab -->
    <ngb-tab id="tab-1" title="Service">
      <ng-template ngbTabContent>
        <div class="p-3">
          <app-webservice-form [service]="selectedService"></app-webservice-form>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- Select Tab-->
    <ngb-tab id="tab-2" title="Select">
      <ng-template ngbTabContent>
        <div class="p-3">
          <app-webservice-list [serviceOptions]="services" [currentService]="selectedService"
                               (onRefresh)="getServices()" (onSelect)="onSelectService($event)">
          </app-webservice-list>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- Composition Parameter Configure TAB-->
    <ngb-tab id="tab-3" title="Configure Composition">
      <ng-template ngbTabContent>
        <div class="p-3">
          <app-configure-composition [inputNodes]="inputNodes"
                                     [node]="node"></app-configure-composition>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- Inputs Wiring Tab-->
    <ngb-tab id="tab-4" title="Configure Service" [disabled]="!selectedService">
      <ng-template ngbTabContent>
        <div class="p-3">
          <app-webservice-inputs-wiring [service]="selectedService" [node]="node">
          </app-webservice-inputs-wiring>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<!-- Close Buttons-->
<div class="modal-footer">
  <button class="btn btn-success" (click)="onClose('save')">Save</button>
  <button class="btn btn-danger" (click)="onClose('cancel')">Cancel</button>
</div>
