<div *ngIf="node"
     class="p-3">
  <h2 class="text-center">Quick Edit</h2>
  <hr>
  <form [formGroup]="fGroup"
        (ngSubmit)="saveUpdate()">
    <!-- ID -->
    <div class="form-group row">
      <label for="webservice-id"
             class="col-3 col-form-label">ID</label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               [formControl]="fGroup.controls['id']"
               id="webservice-id"
               readonly>
      </div>
    </div>

    <!-- Title -->
    <div class="form-group row">
      <label for="webservice-title"
             class="col-3 col-form-label">Title</label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               [formControl]="fGroup.controls['title']"
               [value]="node.title"
               id="webservice-title">
      </div>
    </div>

    <!-- DOMAIN-->
    <div class="form-group row">
      <label for="input-domain"
             class=" col-3 col-form-label">Domain</label>
      <div class="col-9">
        <input class="form-control col-form-label"
               type="text"
               [formControl]="fGroup.controls['domain']"
               id="input-domain">
      </div>
    </div>

    <!-- PATH -->
    <div class="form-group row">
      <label for="input-path"
             class="col-3 col-form-label">Path</label>
      <div class="col-9">
        <input class="form-control col-form-label"
               type="text"
               [formControl]="fGroup.controls['path']"
               id="input-path">
      </div>
    </div>

    <!-- Type -->
    <div class="form-group row">
      <label for="node-type"
             class="col-3 col-form-label">Type</label>
      <div class="col-9">
        <input class="form-control"
               type="text"
               [formControl]="fGroup.controls['type']"
               id="node-type">
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label for="node-description"
             class="col-3 col-form-label">Description</label>
      <div class="col-9">
    <textarea class="form-control"
              rows="8"
              [formControl]="fGroup.controls['description']"
              id="node-description">
    </textarea>
      </div>
    </div>

    <!-- Save / Close buttons -->
    <div class="form-group row">
      <div class="col-6">
        <button class="btn btn-outline-primary btn-block"
                type="submit">Saved</button>
      </div>
      <div class="col-6">
        <button class="btn btn-outline-danger btn-block"
                (click)="closeFunction('close, not saved')"
                type="button">Close</button>
      </div>
    </div>

  </form>

  <!-- View Composition Nodes -->
  <p><strong>Composition</strong> Nodes: {{node.children.length}}</p>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item"
          *ngFor="let n of node.children">NODE-ID-{{n.id}}</li>
    </ul>
  </div>
</div>
