<div id="carouselExampleIndicators"
     class="carousel slide"
     data-ride="carousel">

  <!-- Carousel Button Indicators -->
  <ol class="carousel-indicators">
    <li *ngFor="let path of paths; let i = index;"
        data-target="#carouselExampleIndicators"
        data-slide-to="i"
        [ngClass]="{active: i === 0}"></li>
  </ol>

  <!-- The Image Carousel-->
  <div class="carousel-inner"
       role="listbox">
    <div *ngFor="let path of paths; let index = index;"
         [ngClass]="{active: index === 1}"
         class="carousel-item">
      <img class="d-block img-fluid"
           [src]="path.url"
           [alt]="path.title">
    </div>
  </div>

  <!--The Carousel Previous Button -->
  <a class="carousel-control-prev"
     href="#carouselExampleIndicators"
     role="button"
     data-slide="prev">
    <span class="carousel-control-prev-icon"
          aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <!--The Carousel Next Button -->
  <a class="carousel-control-next"
     href="#carouselExampleIndicators"
     role="button"
     data-slide="next">
    <span class="carousel-control-next-icon"
          aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

