svg {
  width: 100%;
  height: 750px;
  border: dotted dodgerblue thin;
}

g.conceptG circle {
  fill: rgb(229, 239, 255);
  stroke: rgb(190, 210, 240);
  stroke-width: 4px;
}

text {
  fill: rgb(34, 34, 35);
  font-size: 18px !important;
  font-family: monospace;
  font-weight: bolder;
}

g.conceptG:hover circle {
  fill: rgb(255, 245, 117);
  stroke: rgb(235, 225, 97) !important;
}

g.selected circle {
  fill: rgb(91, 148, 255);
  stroke: rgb(51, 108, 215) !important;
  stroke-width: 15px;
}

g.selected:hover circle {
  fill: rgb(255, 245, 117);
  stroke: rgb(215, 205, 77) !important;;
}

path.link {
  fill: rgb(147, 147, 147);
  stroke: rgb(147, 147, 147);
  stroke-width: 6px;
  cursor: default;
}

marker {
  fill: rgb(147, 147, 147);
  stroke: rgb(147, 147, 147);
}

path.link:hover {
  fill: rgb(255, 245, 117);
  stroke: rgb(235, 225, 97) !important;
}

g.connect-node circle {
  fill: #BEFFFF;
}

path.link.hidden {
  stroke-width: 0;
}

path.link.selected {
  fill: rgb(91, 148, 255);
  stroke: rgb(71, 128, 235) !important;
}