<nav class="container navbar navbar-toggleable-md navbar-light bg-faded">

  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <h1 class="navbar-brand">DIRECT STEM</h1>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngFor="let path of paths">
        <a routerLink="{{path.url}}"
           routerLinkActive="active bigger"
           [ngClass]="{disabled: path.disable}"
           class="nav-link">{{path.title}}</a> </li>
    </ul>
    <app-node-quickview *ngIf="selectedNode"
                        class="mx-2"
                        [node]="selectedNode"></app-node-quickview>

    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0"
              type="button">Start</button>
    </div>

  </div>
</nav>