/* Used for nav links. When click (active) we want them to be bolder. */
.bigger {
    font-weight: bolder;
}

/* Add this so the NavBar wouldn't be stack right on top of the next element.
*  Add some space between the nav and the edge of the screen. */
nav {
    margin-bottom: 1.5em;
    margin-top: .75em;
}

img#logo {
    max-height: 2em;
    max-width: 3em;
}