<form [formGroup]="group"
      (ngSubmit)="onSubmit(group)">

  <app-accordion title="Primary Fields"
                 id="primary">
    <!-- ID -->
    <div class="form-group row">
      <label for="input-id"
             class="col-2">ID</label>
      <div class="col-10">
        <input class="form-control"
               type="text"
               readonly
               value='n/a'
               id="input-id">
      </div>
    </div>

    <!-- Title -->
    <div class="form-group row"
      [ngClass]="{'has-danger': isInvalid('title')}">
      <label for="input-title"
             class="col-2 col-form-label">Title</label>
      <div class="col-10">
        <div *ngIf="isInvalid('title')"
             class="alert-danger text-center">
          Required Field
        </div>
        <input class="form-control col-form-label"
               type="text"
               [formControl]="group.controls['title']"
               id="input-title">
      </div>
    </div>

    <!-- URL-->
    <div class="form-group row"
      [ngClass]="{'has-danger': isInvalid('url')}">
      <label for="input-url"
             class="col-2 col-form-label">URL</label>
      <div class="col-10">
        <div *ngIf="isInvalid('url')"
             class="alert-danger text-center">
          Required Field
        </div>
        <input class="form-control col-form-label"
               type="text"
               [formControl]="group.controls['url']"
               id="input-url">
      </div>
    </div>

    <!-- Type -->
    <div class="form-group row"
      [ngClass]="{'has-danger': isInvalid('type')}">
      <label for="input-type"
             class="col-2 col-form-label">Type</label>
      <div class="col-10">
        <div *ngIf="isInvalid('type')"
             class="alert-danger text-center">
          Required Field
        </div>
        <input class="form-control col-form-label"
               type="text"
               [formControl]="group.controls['type']"
               id="input-type">
      </div>
    </div>

    <!-- Description ¬-->
    <div class="form-group row"
      [ngClass]="{'has-danger': isInvalid('description')}">
      <label for="textarea-description"
             class="col-2 col-form-label ">Description</label>
      <div class="col-10">
        <div *ngIf="isInvalid('description')"
             class="alert-danger text-center">
          Required Field
        </div>
        <textarea class="form-control col-form-label"
                  rows="8"
                  [formControl]="group.controls['description']"
                  id="textarea-description"></textarea>
      </div>
    </div>
  </app-accordion>

  <!-- Webservice REGISTERED inputs -->
  <app-input-register-form
      [parameters]="parameters"></app-input-register-form>

  <!-- Webservice registered OUTPUT -->
  <app-output-register-form
      [properties]="properties"></app-output-register-form>

  <!--Submit, Reset, Cancel-->
  <div class="buttons-containers text-center">
    <button class="btn btn-success"
            type="submit">Submit</button>

    <button class="btn btn-danger"
            type="button"
            (click)="reset(group)">Reset</button>

    <a class="btn btn-warning"
       routerLink="../../project">Cancel</a>
  </div>
</form>
