<form [formGroup]="group"
      (ngSubmit)="onSubmit(group)">

  <!-- ID -->
  <div class="form-group row">
    <label for="input-id"
           class="col-2 col-form-label">ID</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             readonly
             value='n/a'
             id="input-id">
    </div>
  </div>

  <!-- Title -->
  <div class="form-group row">
    <label for="input-title"
           class="col-2 col-form-label">Title</label>
    <div class="col-10">
      <div *ngIf="isInvalid('title')"
           class="alert-danger text-center">
        Required Field
      </div>
      <input class="form-control"
             type="text"
             [formControl]="group.controls['title']"
             id="input-title">
    </div>
  </div>

  <!-- Type -->
  <div class="form-group row">
    <label for="input-type"
           class="col-2 col-form-label">Type</label>
    <div class="col-10">
      <div *ngIf="isInvalid('type')"
           class="alert-danger text-center">
        Required Field
      </div>
      <input class="form-control"
             type="text"
             [formControl]="group.controls['type']"
             id="input-type">
    </div>
  </div>

  <!-- Description ¬-->
  <div class="form-group row">
    <label for="textarea-description"
           class="col-2 col-form-label">Description</label>
    <div class="col-10">
      <div *ngIf="isInvalid('description')"
           class="alert-danger text-center">
        Required Field
      </div>
      <textarea class="form-control"
                rows="8"
                [formControl]="group.controls['description']"
                id="textarea-description"></textarea>
    </div>
  </div>


  <!-- Webservice REGISTERED inputs -->
  <app-accordion [title]="'Toggle Inputs Display'">
    <div *ngFor="let item of inputControls; let i = index">
      <div class="form-group row">
        <label for="input-type"
               class="col-2 col-form-label">Input {{i + 1}}</label>
        <div class="col-8">
          <div *ngIf="isInvalidFC(item)"
               class="alert-danger text-center">
            Delete the input or enter it's name
          </div>
          <input class="form-control"
                 type="text"
                 [formControl]="item">
        </div>
        <div class="col-2">

          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="deRegisterInput(item)">
            <!-- Delete Icon-->
            <i class="fa fa-minus-circle"
               aria-hidden="true"></i></button>
        </div>
      </div>
    </div>

    <!-- Register Input Form -->
    <hr>
    <div class="form-group row">
      <label class="col-2 col-form-label"></label>
      <div class="col-10">
        <form class="form-inline">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Input</div>
            <input type="text"
                   [formControl]="registerControl"
                   class="form-control">
          </div>

          <button class="btn btn-outline-success ml-2"
                  (click)="registerInput()"
                  type="button">
            <!-- Add Icon -->
            <i class="fa fa-plus-circle mr-1"
               aria-hidden="true"></i>Register Input</button>
        </form>
      </div>
    </div>
  </app-accordion>


  <!--Submit, Reset, Cancel-->
  <div class="buttons-containers text-center">
    <button class="btn btn-primary"
            type="submit">Submit</button>

    <button class="btn btn-danger"
            type="button"
            (click)="reset(group)">Reset</button>

    <a class="btn btn-warning"
       routerLink="../../project">Cancel</a>
  </div>
</form>
