<div class="container">
    <button class="btn btn-outline-primary" (click)="addUser()">Add User</button>
<table class="table table-condensed table-bordered data-table">
    <thead>
    <tr>
        <th class="select-column-header">
            <input type="checkbox" class="ng-untouched ng-pristine ng-valid">
        </th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <!--
    <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td> -->
            <!--<button (click)="onEdit(user.id)" class="btn btn-info">Edit</button>-->
            <!--<button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>-->
    <!--    </td>
    </tr>-->

    </tbody>
</table>
</div>