<div *ngIf="node">
  <button id="btn-new-project"
          (click)="select()"
          class="btn btn-outline-success btn-lg btn-block mx-auto">
    Graph Editor
  </button>
  <app-accordion title="Primary Fields"
                 id="privw--{{node.id}}">

    <!-- Enable form editing checkbox -->
    <div class="form-group row">
      <label for="checkbox-edit-mode"
             class="col-2 col-form-label"></label>
      <div class="col-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input"
                   type="checkbox"
                   id="checkbox-edit-mode"
                   [(ngModel)]="editMode"> Edit Mode
          </label>
        </div>
      </div>
    </div>

    <!-- ID -->
    <div class="form-group row">
      <label for="webservice-id"
             class="col-2 col-form-label">ID</label>
      <div class="col-10">
        <input class="form-control"
               type="text"
               [value]="node.id"
               id="webservice-id"
               readonly>
      </div>
    </div>

    <!-- Title -->
    <div class="form-group row">
      <label for="webservice-title"
             class="col-2 col-form-label">Title</label>
      <div class="col-10">
        <input class="form-control"
               type="text"
               [(ngModel)]="node.title"
               [value]="node.title"
               id="webservice-title"
               [readonly]="!editMode">
      </div>
    </div>

    <!-- DOMAIN-->
    <div class="form-group row">
      <label for="input-domain"
             class="col-2 col-form-label">Domain</label>
      <div class="col-10">
        <input class="form-control col-form-label"
               type="text"
               [value]="node.domain"
               id="input-domain"
               readonly>
      </div>
    </div>

    <!-- DOMAIN-->
    <div class="form-group row">
      <label for="input-path"
             class="col-2 col-form-label">Path</label>
      <div class="col-10">
        <input class="form-control col-form-label"
               type="text"
               [value]="node.path"
               id="input-path"
               readonly>
      </div>
    </div>

    <!-- Type -->
    <div class="form-group row">
      <label for="node-type"
             class="col-2 col-form-label">Type</label>
      <div class="col-10">
        <input class="form-control"
               type="text"
               [(ngModel)]="node.type"
               [value]="node.type"
               id="node-type"
               [readonly]="!editMode">
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label for="node-description"
             class="col-2 col-form-label">Description</label>
      <div class="col-10">
    <textarea class="form-control"
              rows="8"
              [(ngModel)]="node.description"
              [value]="node.description"
              id="node-description"
              [readonly]="!editMode">
    </textarea>
      </div>
    </div>
  </app-accordion>


  <!-- List the webservice parameters properties -->
  <app-accordion title="Parameters Fields"
                 id="pravw-{{node.id}}">
    <app-property-table [properties]="node.parameters"></app-property-table>
  </app-accordion>

  <!-- List the webservice returned object properties (key:value)-->
  <app-accordion title="Properties Fields"
                 id="properties-quickview">
    <app-property-table [properties]="node.returnValues"></app-property-table>
  </app-accordion>

</div>
