<div id="carouselExampleIndicators"
     class="carousel slide"
     data-ride="carousel">

  <!-- Carousel Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"></li>
    <li data-target="#carouselExampleIndicators"
        data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators"
        data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner"
       role="listbox">

    <!-- Create button -->
    <div class="carousel-item active">
      <a class="btn btn-outline-primary btn-lg mt-5 mb-5"
         href="#carouselExampleIndicators"
         role="button"
         data-slide="next">
        <h1 class="display-3 text-center">
          <i class="fa fa-plus-square-o"
             aria-hidden="true"></i>Create</h1>
      </a>
    </div>

    <!-- Edit button -->
    <div class="carousel-item">
      <a class="btn btn-outline-primary btn-lg mt-5 mb-5"
         href="#carouselExampleIndicators"
         role="button"
         data-slide="next">
        <h1 class="display-3 text-center">
          <i class="fa fa-pencil"
             aria-hidden="true"></i>Edit</h1>
      </a>
    </div>

    <!-- View button -->
    <div class="carousel-item">
      <a class="btn btn-outline-primary btn-lg mt-5 mb-5"
         href="#carouselExampleIndicators"
         role="button"
         data-slide="next">
        <h1 class="display-3 text-center">
          <i class="fa fa-eye"
             aria-hidden="true"></i> View</h1>
      </a>
    </div>
  </div>

  <a class="carousel-control-prev"
     href="#carouselExampleIndicators"
     role="button"
     data-slide="prev">
    <span class="carousel-control-prev-icon"
          aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next"
     href="#carouselExampleIndicators"
     role="button"
     data-slide="next">
    <span class="carousel-control-next-icon"
          aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
