<div *ngIf="node"
     class="p-3">
  <h2 class="text-center">Quick Edit</h2>
  <hr>
  <!-- ID -->
  <div class="form-group row">
    <label for="webservice-id"
           class="col-3 col-form-label">ID</label>
    <div class="col-9">
      <input class="form-control"
             type="text"
             [value]="node.id"
             id="webservice-id"
             readonly>
    </div>
  </div>

  <!-- Title -->
  <div class="form-group row">
    <label for="webservice-title"
           class="col-3 col-form-label">Title</label>
    <div class="col-9">
      <input class="form-control"
             type="text"
             [(ngModel)]="node.title"
             [value]="node.title"
             id="webservice-title">
    </div>
  </div>

  <!-- DOMAIN-->
  <div class="form-group row">
    <label for="input-domain"
           class=" col-3 col-form-label">Domain</label>
    <div class="col-9">
      <input class="form-control col-form-label"
             type="text"
             [value]="node.domain"
             id="input-domain">
    </div>
  </div>

  <!-- PATH -->
  <div class="form-group row">
    <label for="input-path"
           class="col-3 col-form-label">Path</label>
    <div class="col-9">
      <input class="form-control col-form-label"
             type="text"
             [value]="node.path"
             id="input-path">
    </div>
  </div>

  <!-- Type -->
  <div class="form-group row">
    <label for="node-type"
           class="col-3 col-form-label">Type</label>
    <div class="col-9">
      <input class="form-control"
             type="text"
             [(ngModel)]="node.type"
             [value]="node.type"
             id="node-type">
    </div>
  </div>

  <!-- Description -->
  <div class="form-group row">
    <label for="node-description"
           class="col-3 col-form-label">Description</label>
    <div class="col-9">
    <textarea class="form-control"
              rows="8"
              [(ngModel)]="node.description"
              [value]="node.description"
              id="node-description">
    </textarea>
    </div>
  </div>


  <!-- View Composition Nodes -->
  <p><strong>Composition</strong> Nodes: {{node.children.length}}</p>
  <div>
    <ul class="list-inline">
      <li class="list-inline-item"
          *ngFor="let n of node.children">NODE-ID-{{n.id}}</li>
    </ul>
  </div>
</div>
