<app-accordion title="Parameters Fields "
               id="parameters-register"
               *ngIf="parameters">

  <!-- List the registered Parameters -->
  <div *ngFor="let item of parameters;">

    <div class="form-group row">
      <form class="form-inline">

        <!-- Parameter Name Value -->
        <div class="input-group col-5">
          <div class="input-group-addon bg-success text-white">Name</div>
          <input type="text"
                 [value]="item[0]"
                 readonly
                 class="form-control">
        </div>

        <!-- Parameter Description Value -->
        <div class="input-group col-6">
          <div class="input-group-addon bg-success text-white">Description</div>
          <input type="text"
                 [value]="item[1]"
                 readonly
                 class="form-control">
        </div>

        <!-- Delete Parameter Button-->
        <div class="input-group col-1">
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="deRegisterInput(item)">
            <i class="fa fa-minus-circle"
               aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>

  <!-- Register Parameter Form -->
  <hr *ngIf="parameters.length > 0">
  <div class="form-group row">
    <form class="form-inline"
          (ngSubmit)="registerParameter()">

      <!-- Parameter Name Input -->
      <div class="input-group col-5"
           [ngClass]="{'has-danger': isInvalid(nameControl)}">
        <div class="input-group-addon bg-primary text-white">Name</div>
        <input type="text"
               [formControl]="nameControl"
               class="form-control col-form-label">
      </div>

      <!-- Parameter Description Input -->
      <div class="input-group col-6"
           [ngClass]="{'has-danger': isInvalid(descriptionControl)}">
        <div class="input-group-addon bg-primary text-white">Description </div>
        <input type="text"
               [formControl]="descriptionControl"
               class="form-control col-form-label">
      </div>

      <!-- Register Parameter Button -->
      <div class="input-group col-1">
        <button class="btn btn-outline-success"
                type="submit">
          <i class="fa fa-plus-circle"
             aria-hidden="true"></i></button>
      </div>

    </form>
  </div>
</app-accordion>