<app-accordion title="Toggle Input Display"
               *ngIf="controls">
  <div *ngFor="let item of controls; let i = index">
    <div class="form-group row">
      <label for="input-type-{{i}}"
             class="col-2 col-form-label">Input {{i + 1}}</label>
      <div class="col-8">
        <div *ngIf="isInvalid(item)"
             class="alert-danger text-center">
          Delete the input or enter it's name
        </div>
        <input class="form-control"
               type="text"
               id="input-type-{{i}}"
               [formControl]="item">
      </div>
      <div class="col-2">
        <button class="btn btn-outline-danger"
                type="button"
                (click)="deRegisterInput(item)">
          <!-- Delete Icon-->
          <i class="fa fa-minus-circle"
             aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

  <!-- Register Input Form -->
  <hr>
  <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="col-10">
      <form class="form-inline"
            (ngSubmit)="registerInput()">

        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">Input</div>
          <input type="text"
                 [formControl]="registerControl"
                 class="form-control">
        </div>

        <button class="btn btn-outline-success ml-2"
                type="submit">
          <!-- Add Icon -->
          <i class="fa fa-plus-circle mr-1"
             aria-hidden="true"></i>Register Input
        </button>

      </form>
    </div>
  </div>
</app-accordion>