<app-accordion title="Parameters Fields "
               id="parameters-register"
               *ngIf="parameters">

  <!-- List the registered Parameters -->
  <table class="table" *ngIf="parameters.length > 0">
    <thead>
      <tr class="bg-success text-white">
        <th>Name</th>
        <th>Data Type</th>
        <th>Description</th>
        <th>Un-Register</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of parameters">
        <!-- Parameter Name Value-->
        <td>
          <div>
            <input class="form-control"
                   readonly
                   [value]="item[0]">
          </div>
        </td>

        <!-- Parameter TYPE Value -->
        <td>
          <div>
            <select class="custom-select form-control col-form-label">
              <option selected disabled>string</option>
            </select>
          </div>
        </td>

        <!-- Parameter DESCRIPTION Value -->
        <td>
          <div>
            <input class="form-control"
                   readonly
                   [value]="item[1]">
          </div>
        </td>

        <!-- Parameter REMOVE Button -->
        <td>
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="unregisterParameter(item)">
            <i class="fa fa-minus-circle"
               aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Register Parameter Form -->
  <hr *ngIf="parameters.length > 0">
  <table class="table">
    <thead class="bg-primary text-white">
      <tr>
        <th>Name</th>
        <th>Data Type</th>
        <th>Description</th>
        <th>Register</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Parameter Name Input-->
        <td>
          <div [ngClass]="{'has-danger': isInvalid(nameControl)}">
            <input type="text"
                   [formControl]="nameControl"
                   class="form-control col-form-label">
          </div>
        </td>

        <!-- Parameter Data Type Input-->
        <td>
          <div>
            <select class="custom-select form-control col-form-label">
            <option selected>string</option>
            </select>
          </div>
        </td>

        <!-- DESCRIPTION INPUT -->
        <td>
          <div [ngClass]="{'has-danger': isInvalid(descriptionControl)}">
            <input type="text"
                   [formControl]="descriptionControl"
                   class="form-control col-form-label">
          </div>
        </td>

        <!-- REGISTER BUTTON -->
        <td><button class="btn btn-outline-success"
                    type="button"
                    (click)="registerParameter()">
          <i class="fa fa-plus-circle"
             aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</app-accordion>