<app-accordion title="Toggle Property Display"
               id="output-register"
               *ngIf="properties">

  <!-- List the registered Parameters -->
  <div *ngFor="let item of properties;">

    <div class="form-group row">
      <form class="form-inline">

        <!-- Property Name Value -->
        <div class="input-group col-6">
          <div class="input-group-addon bg-success text-white">Name</div>
          <input type="text"
                 [value]="item[0]"
                 readonly
                 class="form-control">
        </div>

        <!-- Property Description Value -->
        <div class="input-group col-5">
          <div class="input-group-addon bg-success text-white">Data Type</div>
          <input type="text"
                 [value]="item[1]"
                 readonly
                 class="form-control">
        </div>

        <!-- Delete Property Button-->
        <div class="input-group col-1">
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="removeProperty(item)">
            <i class="fa fa-minus-circle"
               aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>


  <!-- Register Property Form -->
  <hr *ngIf="properties.length > 0">
  <div class="form-group row">
    <form class="form-inline"
          (ngSubmit)="registerProperty()">

      <!-- Property Name Input -->
      <div class="input-group col-6"
           [ngClass]="{'has-danger': isInvalid(nameControl)}">
        <div class="input-group-addon bg-primary text-white">Name</div>
        <input type="text"
               [formControl]="nameControl"
               class="form-control col-form-label">
      </div>

      <!-- Property Data Type Input -->
      <div class="input-group col-5"
           [ngClass]="{'has-danger': isInvalid(typeControl)}">
        <div class="input-group-addon bg-primary text-white">Data Type</div>
        <select class="custom-select form-control col-form-label"
                [formControl]="typeControl">
          <option selected
                  value=""> Choose...
          </option>
          <option *ngFor="let option of options"
                  [value]="option"> {{option}}
          </option>
        </select>

      </div>

      <!-- Register Property Button -->
      <div class="input-group col-1">
        <button class="btn btn-outline-success"
                type="submit">
          <i class="fa fa-plus-circle"
             aria-hidden="true"></i></button>
      </div>

    </form>
  </div>
</app-accordion>