<app-accordion title="Property Fields"
               id="property-register"
               *ngIf="properties">

  <!-- LIST THE REGISTERED PARAMETERS -->
    <table class="table" *ngIf="properties.length > 0">
      <thead>
        <tr class="bg-success text-white">
          <th>Name</th>
          <th>Data Type</th>
          <th>Description</th>
          <th>Register</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of properties">
          <!-- NAME -->
          <td>
            <div>
              <input class="form-control"
                     readonly
                     [value]="item[0]">
            </div>
          </td>

          <!-- TYPE -->
          <td>
            <div>
              <select class="custom-select form-control col-form-label">
                <option selected disabled>{{item[1]}}</option>
              </select>
            </div>
          </td>

          <!-- DESCRIPTION -->
          <td>
            <div>
              <input class="form-control"
                     readonly
                     [value]="item[2]">
            </div>
          </td>

          <!-- REMOVE BUTTON -->
          <td>
            <button class="btn btn-outline-danger"
                    type="button"
                    (click)="removeProperty(item)">
              <i class="fa fa-minus-circle"
                 aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>


  <!-- REGISTER PROPERTY FORM -->
  <hr *ngIf="properties.length > 0">
  <table class="table">
    <thead class="bg-primary text-white">
      <tr>
        <th>Name</th>
        <th>Data Type</th>
        <th>Description</th>
        <th>Register</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- NAME INPUT-->
        <td>
          <div [ngClass]="{'has-danger': isInvalid(nameControl)}">
            <input type="text"
                   [formControl]="nameControl"
                   class="form-control col-form-label">
          </div>
        </td>

        <!-- TYPE INPUT -->
        <td>
          <div [ngClass]="{'has-danger': isInvalid(typeControl)}">
            <select class="custom-select form-control col-form-label"
                    [formControl]="typeControl">
              <option selected
                      value=""> Choose...
              </option>
              <option *ngFor="let option of options"
                      [value]="option"> {{option}}
              </option>
            </select>
          </div>
        </td>

        <!-- DESCRIPTION INPUT -->
        <td>
          <div [ngClass]="{'has-danger': isInvalid(descriptionControl)}">
            <input type="text"
                   [formControl]="descriptionControl"
                   class="form-control col-form-label">
          </div>
        </td>

        <!-- REGISTER BUTTON -->
        <td><button class="btn btn-outline-success"
                    type="button"
                    (click)="registerProperty()">
          <i class="fa fa-plus-circle"
             aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>

</app-accordion>